.gitignore
.picasa.ini

datasets
decoder
encoder
history
jupyte_notebooks
logs
model
tests
trained_models
weights

2D_mni_space_model_plot.png
3d_unet_model_plot_t1.png
3d_unet_model_plot_t1_flair_ir.png
mni_space_model_plot.png
model_plot.png
small_mni_space_model_plot.png
small_mni_space_model_unet_plot.png

__init__.py
app.py
common.py
evaluation.py
hammers_2017_preprocessing.py
run.py
test.py
train_inception_unet.py
train_inception_unet_use_fit_generator.py
train_unet.py
train_unet_use_fit_generator.py
utils/__init__.py
utils/preprocess.py
utils/utils.py

evaluate.bat
preprocess.bat
train.bat
train_inception_use_fit_generator.bat
train_unet.bat
train_unet_use_fit_generator.bat

readme.md